.main{
  padding:50px; 
  color:#fff;
} 
.wrapper_input{
  position: relative; 
  margin-top:40px;
}
.fa-search{
  position: absolute; 
  left:15px; 
  top:11px;
  z-index: 2;
}
.react-select-container{
    width: 100%;
    background:none;
}
.search{
  background: rgb(0,178,247);
  background: radial-gradient(circle, rgba(0,178,247,1) 0%, rgba(0,134,224,1) 100%); 
  padding:10px 20px; 
  color:#fff; 
  border-radius: 6px; 
  border:none; 
  outline: none; 
  position: absolute; 
  right: 0px;
  border-bottom-left-radius: 0px; 
  border-top-left-radius: 0px;
}
.current{
  padding-top:30px; 
  margin:0 auto; 
  text-align: center;
}
.current p {
  padding:10px;
}
.wrap_today{
  display: flex; 
  justify-content: center;
  align-items: baseline;
}
.fa-heart{
  cursor: pointer; 
  font-size: 25px; 
  text-align: center;
}
@media(max-width:600px){
  .input_icons{width:100%}
}